<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIA Email Verification</title>
</head>
<body>
<p>Hello <span th:text="${register.name}"></span>,</p>
<p>Thank you for signing up with MAIA! We're thrilled to have you on board.</p>
<p>To ensure the security of your account and access all the features, please verify your email address by clicking the link below:</p>
<p><a th:href="${register.redirectLink}">Click here to verify your email</a></p>
<p>If you have trouble clicking the link, please copy and paste it into your browser's address bar.</p>
<p>Once your email is verified, you'll be ready to dive into MAIA exciting features.</p>
<p>If you did not register with us, please ignore this email or contact our support team at <a href="mailto:support@maiadigital.id">support@maiadigital.id</a>.</p>
<p>Thank you for choosing MAIA!</p>
<p>Best regards,<br>MAIA</p>
</body>
</html>
